html, body {
    background-color: lightyellow;
    height: 100;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 90%;
    text-align: center;
}

div {
    font-family: sans-serif;
    font-size: 2rem;

}
